
@{
    ViewBag.Title = "Procesos";
}

@section Styles{
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/jquery-bootgrid/dist/jquery.bootgrid.css">
    <link href="@Styles.Url("~/Vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/bootstrap-slider/dist/css/bootstrap-slider.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/chosen-js/chosen.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/select2/dist/css/select2.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Vendor/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css")" rel="stylesheet" />
}

<div class="content-heading">Procesos</div>
<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon" data-bind="text: 'Estado'"></span>
        <select class="form-control" data-bind="optionsCaption: '[Elige un Estado]', options: statePrincipalList, optionsValue:'Identifier', optionsText: 'State', value: principalState"></select>
    </div>
</div>
<div data-bind="visible: $root.principalState() > 0">
    <div class="checkbox">
        <label>
            <input type="checkbox" id="all" data-bind="checked: allChecked" />
            Mostrar Todos
            <i class="fa fa-square-o small"></i>
        </label>
    </div>
</div>

<div id="filter" class="box">

    <div class="box-header">
        <div class="box-name">
            <i class="fa fa-filter"></i>
            <span>Filtro de procesos</span>
        </div>
    </div>
    <br />

    <button class="btn btn-labeled btn-success mb-2" type="button" data-toggle="modal" data-target="#newProcess" data-bind="visible: $root.principalState() > 0, click: $root.initValuesNewProcess">
        <span class="btn-label">
            <i class="fa fa-plus"></i>
        </span>Nuevo Proceso
    </button>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Información General</div>
            <div class="text-sm">Procesos</div>
        </div>
        <div class="card-body">
            <table class="table table-bordered my-4 w-100" id="procesosTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Local</th>
                        <th>Fecha Proceso</th>
                        <th>Estado</th>
                        <th>Estatus</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.processList">
                    <tr class="gradeA">
                        <td data-bind="text: Proceso"></td>
                        <td data-bind="text: IsLocal ? 'Si': 'No'"></td>
                        <td data-bind="text: FechaProceso"></td>
                        <td data-bind="text: Estado"></td>
                        <td class="text-center">
                            <label class="switch" data-bind="attr: { title: Activo() ? 'Desactivar proceso': 'Activar proceso'  }">
                                <input type="checkbox" data-bind="checked: Activo(), click: $root.confirmChangeStatusProcess" />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-info mr-2 command-edit" data-toggle="modal" data-target="#newProcess" data-bind="click: $root.editProcess" title="Editar proceso"><em class="fa fa-edit fa-fw"></em></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @section BodyArea {
        <div class="modal fade" id="newProcess" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabelLarge"><span data-bind="text: $root.selectedProcess() != undefined ? 'Editar Proceso' : 'Nuevo Proceso' "></span></h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-default">
                                    <div class="card-header">
                                        <h3 class="card-title">Información principal</h3>
                                    </div>
                                    <div class="card-body">
                                        <fieldset>
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">Nombre</label>
                                                <div class="col-md-10">
                                                    <input id="processName" class="form-control col-lg-10" type="text" data-bind="value: $root.processName" />
                                                    <span class="form-text"></span>
                                                </div>
                                            </div>
                                            <div class="card card-default" data-bind="visible: $root.selectedProcess() == undefined">
                                                <div class="card-body">
                                                    <fieldset>
                                                        <div class="form-group row mb-2">
                                                            <label class="col-md-2 col-form-label mb-2">Fecha fin del proceso</label>
                                                            <div class="col-xl-6 col-10">
                                                                <div class="input-group date" id="datetimepicker1">
                                                                    <input id="fechaProceso" class="form-control" type="text" data-bind="value:$root.fechaProceso" readonly />
                                                                    <span class="input-group-append input-group-addon">
                                                                        <span class="input-group-text fas fa-calendar-alt"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-md-2 col-form-label">Encarte</label>
                                                            <div class="col-md-10">
                                                                <select id="encarte" class="form-control" data-bind="options: encarteList, optionsValue:'IdEncarte', optionsText: 'Descripcion', value: selectedEncarte"></select>
                                                                <span class="form-text"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row" id="radioGroupType">
                                                            <div class="col-md-10">
                                                                <div class="c-radio">
                                                                    <label>
                                                                        <input type="radio" name="typeProcess" value="1" data-bind="checked: $root.processType" />
                                                                        <span class="fa fa-circle"></span>Proceso Local
                                                                    </label>
                                                                </div>
                                                                <div class="c-radio">
                                                                    <label>
                                                                        <input type="radio" name="typeProcess" value="2" data-bind="checked: $root.processType" />
                                                                        <span class="fa fa-circle"></span>Proceso Federal
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="card card-default" data-bind="visible: $root.selectedProcess() == undefined">
                                                <div class="card-header">
                                                    <h3 class="card-title">Territorio</h3>
                                                </div>
                                                <div class="card-body">
                                                    <fieldset>
                                                        <div class="form-group row">
                                                            <label class="col-md-2 col-form-label">Estado</label>
                                                            <div class="col-md-10">
                                                                <select id="addEditState" class="form-control" data-bind="options: stateAddEditList, optionsValue:'Identifier', optionsText: 'State', value: addEditState"></select>
                                                                <span class="form-text"></span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" data-bind="click: $root.processChanges">Guardar</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal" data-bind="click: $root.resetNewProcess">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

    }

</div>




@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Scripts.Url("~/Vendor/jquery-bootgrid/dist/jquery.bootgrid.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js")"></script>

    <script src="@Scripts.Url("~/Vendor/datatables.net/js/jquery.dataTables.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/dataTables.buttons.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.colVis.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.flash.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.html5.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-buttons/js/buttons.print.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-keytable/js/dataTables.keyTable.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Scripts.Url("~/Vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jszip/dist/jszip.js")"></script>
    <script src="@Scripts.Url("~/Vendor/pdfmake/build/pdfmake.js")"></script>
    <script src="@Scripts.Url("~/Vendor/pdfmake/build/vfs_fonts.js")"></script>

    <script src="@Scripts.Url("~/Vendor/bootstrap-filestyle/src/bootstrap-filestyle.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.js")"></script>
    <script src="@Scripts.Url("~/Vendor/chosen-js/chosen.jquery.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-slider/dist/bootstrap-slider.js")"></script>
    <script src="@Scripts.Url("~/Vendor/inputmask/dist/jquery.inputmask.bundle.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js")"></script>
    <script src="@Scripts.Url("~/Vendor/moment/min/moment-with-locales.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js")"></script>
    <script src="@Scripts.Url("~/Vendor/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js")"></script>
    <script src="@Scripts.Url("~/Vendor/select2/dist/js/select2.full.js")"></script>
    <script src="@Scripts.Url("~/Vendor/sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jquery-knob/dist/jquery.knob.min.js")"></script>
    <script src="@Scripts.Url("~/Vendor/easy-pie-chart/dist/jquery.easypiechart.js")"></script>
    <script src="@Scripts.Url("~/Vendor/chart.js/dist/Chart.js")"></script>

    @Scripts.Render("~/Scripts/knockout-3.5.1.js")
    @Scripts.Render("~/Scripts/Areas/Configuration/indexProcess.js");
}




